<footer class="d-flex p-2 justify-content-around gap-3">
    <!--useful links-->
    <section class="d-flex flex-column gap-3">
        <app-logo></app-logo>
        <div class="d-flex gap-3">
            <a href=""><span class="pi pi-twitter"></span></a>
            <a href=""><span class="pi pi-instagram"></span></a>
            <a href=""><span class="pi pi-youtube"></span></a>
            <a href=""><span class="pi pi-linkedin"></span></a>
        </div>
    </section>
    <section class="d-flex p-2 justify-content-xl-evenly gap-5">
        <article>
            <h3>Ειδικότητες</h3>
            <ul class="list-unstyled">
                <li><a href="#">ΩΡΛ</a></li>
                <li><a href="#">Παθολόγος</a></li>
                <li><a href="#">Οφθαλμίατρος</a></li>
                <li><a href="#">Γυναικολόγος</a></li>
                <li><a href="#">Καρδιολόγος</a></li>
                <li><a href="#">Χειρούργος</a></li>
            </ul>
        </article>
        <article>
            <h3>Περιοχές</h3>
            <ul class="list-unstyled">
                <li><a href="#">Αθήνα</a></li>
                <li><a href="#">Θεσσαλονίκη</a></li>
                <li><a href="#">Πάτρα</a></li>
                <li><a href="#">Κυκλάδες</a></li>
                <li><a href="#">Δράμα</a></li>
            </ul>

        </article>
        <article>
            <h3>Σχετικά</h3>
            <ul class="list-unstyled">
                <li><a href="#">Συχνές ερωτήσεις</a></li>
                <li><a href="#">Επικοινωνία</a></li>
                <li><a href="#">Όροι χρήσης</a></li>
                <li><a href="#">Cookies</a></li>
                <li><a href="#">Πολιτική απορρήτου</a></li>
            </ul>
        </article>
    </section>
</footer>