<footer class="app-footer">
    <div class="footer-content">
        <section class="footer-brand">
            <app-logo></app-logo>
        </section>

        <section class="footer-links">
            <article class="footer-column">
                <h3>Ειδικότητες</h3>

                <ul>
                    <li><a href="#">ΩΡΛ</a></li>
                    <li><a href="#">Παθολόγος</a></li>
                    <li><a href="#">Οφθαλμίατρος</a></li>
                    <li><a href="#">Γυναικολόγος</a></li>
                    <li><a href="#">Καρδιολόγος</a></li>
                    <li><a href="#">Χειρούργος</a></li>
                </ul>
            </article>

            <article class="footer-column">
                <h3>Περιοχές</h3>

                <ul>
                    <li><a href="#">Αθήνα</a></li>
                    <li><a href="#">Θεσσαλονίκη</a></li>
                    <li><a href="#">Πάτρα</a></li>
                    <li><a href="#">Κυκλάδες</a></li>
                    <li><a href="#">Δράμα</a></li>
                </ul>
            </article>

            <article class="footer-column">
                <h3>Σχετικά</h3>

                <ul>
                    <li><a href="#">Συχνές ερωτήσεις</a></li>
                    <li><a href="#">Επικοινωνία</a></li>
                    <li><a href="#">Όροι χρήσης</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Πολιτική απορρήτου</a></li>
                </ul>
            </article>
        </section>
    </div>

    <p class="footer-copyright">
        Copyright 2026 All rights reserved
    </p>
</footer>