<footer class="app-footer">
    <div class="footer-content">
        <section class="footer-brand">
            <app-logo></app-logo>
        </section>

        <section class="footer-links">
            <article class="footer-column">
                <h3>Ειδικότητες</h3>

                <ul>
                    <li><a (click)="searchDoctorsBySpecialty('Cardiologist')">Cardiologist</a></li>
                    <li><a (click)="searchDoctorsBySpecialty('General Practitioner')">General Practitioner</a></li>
                    <li><a (click)="searchDoctorsBySpecialty('Gynecologist')">Gynecologist</a></li>
                    <li><a (click)="searchDoctorsBySpecialty('Orthopedist')">Orthopedist</a></li>
                    <li><a (click)="searchDoctorsBySpecialty('Psychiatrist')">Psychiatrist</a></li>
                    <li><a (click)="searchDoctorsBySpecialty('Pathologist')">Pathologist</a></li>
                </ul>
            </article>

            <article class="footer-column">
                <h3>Περιοχές</h3>

                <ul>
                    <li><a (click)="searchCityDoctors('Athens')">Athens</a></li>
                    <li><a (click)="searchCityDoctors('Thessaloniki')">Thessaloniki</a></li>
                    <li><a (click)="searchCityDoctors('Patra')">Patra</a></li>
                    <li><a (click)="searchCityDoctors('Syros')">Syros</a></li>
                    <li><a (click)="searchCityDoctors('Drama')">Drama</a></li>
                </ul>
            </article>

            <article class="footer-column">
                <h3>Σχετικά</h3>

                <ul>
                    <li><a [routerLink]="['/help']">Βοήθεια</a></li>
                    <li><a [routerLink]="['/about']">Σχετικά</a></li>
                    <li><a>Όροι χρήσης</a></li>
                    <li><a>Cookies</a></li>
                    <li><a>Πολιτική απορρήτου</a></li>
                </ul>
            </article>
        </section>
    </div>

    <p class="footer-copyright">
        Copyright 2026 All rights reserved
    </p>
</footer>