<header class="app-header collapse navbar-collapse">
  <div class="header-left">
    <a routerLink="/" class="logo-link">
      <app-logo></app-logo>
    </a>
  </div>

  <nav class="header-nav">
    @for (route of navRoutes; track route.path + route.title) {
    <a [routerLink]="route.path" routerLinkActive="active-link" [routerLinkActiveOptions]="{
    paths: 'exact',
    queryParams: 'ignored',
    fragment: 'ignored',
    matrixParams: 'ignored'
  }" class="nav-link">
      {{ route.title }}
    </a>
    }
  </nav>

  <div class="header-right">
    @if (currentUserRole === 'doctor') {
    <div class="doctor-profile">
      <p-menu #doctorMenu [model]="doctorOptions" [popup]="true" styleClass="doctor-profile-menu"></p-menu>

      <p-avatar (click)="doctorMenu.toggle($event)" icon="pi pi-user" class="mr-2 doctor-avatar-button"
        size="large"></p-avatar>

      {{ currentUserName }}
    </div>
    }

    @if (currentUserRole === 'guest') {
    <div class="patient-actions">
      <button type="button" class="login-button" (click)="isLoginModalOpen = true"> <!--  -->
        Σύνδεση
      </button>

      <button type="button" class="register-button" (click)="register()"> <!--  -->
        Εγγραφή
      </button>

      <app-login [(isOpen)]="isLoginModalOpen"></app-login> <!--  -->
    </div>
    }


    @if(currentUserRole === 'patient') {
    <div>
      <p-menu #menu [model]="loggedInOptions" [popup]="true" />
      <p-avatar (click)="menu.toggle($event)" icon="pi pi-user" class="mr-2" size="large"></p-avatar>
      {{ currentUserName }}
    </div>
    }

  </div>
</header>