<section class="d-flex align-items-center flex-column mb-3 gap-5">
    <h1 class="fw-bold fs-2 text-center">Η ιατρική φροντίδα, κοντά σου</h1>
    <search class="d-flex align-items-center flex-column mb-3 gap-5">
        <div class="container-fluid">
            <h2 class="text-center fs-4 fw-semibold">ψάχνω</h2>
            <p-iconfield class="card flex flex-wrap gap-4">
                <span class="pi pi-search" ></span>
                <input type="text" pInputText list="specialty-options" placeholder="Ειδικότητα πχ. Παθολόγος" />
                <datalist id="specialty-options">
                    @for (specialty of specialties; track specialty.id) {
                        <option [value]="specialty.name"></option>
                    }
                </datalist>
            </p-iconfield>
        </div>
        <div class="container-fluid">
            <h2 class="text-center fs-4 fw-semibold">σε</h2>
            <p-iconfield class="card flex gap-4">
                <span class="pi pi-search" ></span>
                <input type="text" pInputText list="location-options" placeholder="Τοποθεσία πχ. Αθήνα" (input)="onLocationInput($event)"/>
                <datalist id="location-options">
                    <!-- Assuming your Nominatim service returns objects with a 'displayName' property -->
                    @for (location of locations; track $index) {
                        <option [value]="location.displayName"></option>
                    }
                </datalist>
            </p-iconfield>
        </div>
    </search>
</section>