<section class="d-flex align-items-center flex-column mb-3 gap-5">
    <h1 class="fw-bold fs-2 text-center">Η ιατρική φροντίδα, κοντά σου</h1>
    <search class="d-flex align-items-center flex-column mb-3 gap-5">
        <div class="container-fluid">
            <h2 class="text-center fs-4 fw-semibold">ψάχνω</h2>
            <div class="autocomplete-field">
                <p-autoComplete
                    [ngModel]="selectedSpecialty"
                    (ngModelChange)="onSpecialtyChange($event)"
                    [suggestions]="filteredSpecialties"
                    (completeMethod)="filterSpecialties($event)"
                    [minLength]="1"
                    field="name"
                    optionLabel="name"
                    dataKey="id"
                    placeholder="Ειδικότητα πχ. Παθολόγος">
                </p-autoComplete>
            </div>
        </div>
        <div class="container-fluid">
            <h2 class="text-center fs-4 fw-semibold">σε</h2>
            <div class="autocomplete-field">
                <p-autoComplete
                    [ngModel]="selectedLocation"
                    (ngModelChange)="onLocationChange($event)"
                    [suggestions]="filteredLocations"
                    (completeMethod)="filterLocations($event)"
                    [minLength]="3"
                    field="displayName"
                    optionLabel="displayName"
                    placeholder="Τοποθεσία πχ. Αθήνα">
                </p-autoComplete>
            </div>
        </div>
        <div class="container-fluid">
            <button class="btn btn-dark" type="button" (click)="searchClicked.emit()">Ξεκίνα την αναζήτηση</button>
        </div>
    </search>
</section>
