<section class="container mt-4 d-flex flex-row gap-4">
    <div>
        <p-avatar icon="pi pi-user" class="mr-2" size="xlarge" />
    </div>
    <div>
        <h1>{{userDetailedInfo.firstName}} {{userDetailedInfo.lastName}}</h1>
        <p>{{userDetailedInfo.specialty?.name}}</p>
        <div class="rating-container d-flex flex-row gap-2 align-items-center">
            @for (n of [1,2,3,4,5]; track $index) {
            @if(n>getfilledStars()){
            <i class="pi pi-star"></i>
            }
            @else{
            <i class="pi pi-star-fill"></i>
            }
            }
            <p>{{ review }}/5</p>
            <p>(39)</p>
        </div>
        <br>
        <p>Διεύθυνση: {{userDetailedInfo.clinicAddress}}</p>
        <p>Τηλέφωνο: {{userDetailedInfo.phoneNumber}}</p>
        <p>Email: {{userDetailedInfo.email}}</p>
    </div>
</section>



