<button
  type="button"
  class="appointment-row"
  (click)="sendMessage()"
>
  <div>
    <h2>{{ appointment.specialty }}</h2>
    <p>
      {{ appointment.date }}
      Ώρα {{ appointment.startTime }} - {{ appointment.endTime }}
    </p>
  </div>

  <span
    class="status-pill"
    [class.pending-status]="appointment.status === 'pending'"
    [class.confirmed-status]="appointment.status === 'booked'"
    [class.rejected-status]="appointment.status === 'rejected'"
  >
    @if (appointment.status === 'pending') {
      Σε αναμονή
    }

    @if (appointment.status === 'booked') {
      Επιβεβαιωμένο
    }

    @if (appointment.status === 'rejected') {
      Απορρίφθηκε
    }
  </span>
</button>